@import url('https://fonts.googleapis.com/css?family=Changa:800');
body {
  background-color: #fff;
  color: black;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 5pt;
}
label {
  font-weight: bold;
}
form {
  border: 0px;
}
fieldset {
  border: 0px;
}
input {
  border-radius: 4px;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 10pt;
  border:1px solid #ccc;
  padding: 2px;
}
input:hover {
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  background-color: #ffffee;
  border:1px solid #999;
  color: #000;
}
textarea {
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 10pt;
  border:1px solid #ccc;
}
textarea:hover {
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  background-color: #ffffee;
  border:1px solid #999;
  color: #000;
}
/* SELECT DROP DOWNS ... */
select {
  display: block;
  font-size: 10pt;
  font-family: sans-serif;
  /*font-weight: 700;*/
  /*color: #444;*/
  line-height: 1.3;
  padding: 5px 5px 5px 5px;
  width: 95%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 9pt;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /*background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),*/
  /*linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);*/
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
select::-ms-expand {
  display: none;
}
select:hover {
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  background-color: #ffffee;
  border:1px solid #999;
  color: #000;
}
select:focus {
  /*border-color: #aaa;*/
  /*box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);*/
  /*box-shadow: 0 0 0 3px -moz-mac-focusring;*/
  color: #222;
  outline: none;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  background-color: #ffffee;
  border:1px solid #999;
  color: #000;
}
.select-css option {
  font-weight:normal;
}

button {
  color: #666;
  margin: 5pt 5pt 5pt 5pt;
  border-radius: 5px;
  padding: 7px 35px;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
  cursor: pointer;
  background-image: linear-gradient(#fff, #eee, #ddd);
}
button:hover {
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  border-color: #999;
  color: #000;
}
button:focus { outline: none; }

.buttonIcon {
  /*margin-top: -100px;*/
}

input, label {
  margin: 5pt;
  padding: 5pt;
  display:block;
}
textarea, label {
  margin: 5pt;
  padding: 5pt;
  display:block;
}
hr {
  border-top: 1px #cccccc solid;
}

td {
  padding: 1px 1px 1px 1px;
}
/* ---------------------------- */
#container {
  /*border: 1px orange dotted;*/
  padding: 16px;
  margin: 40px 10px 10px 10px;
}
.clearfix {
  overflow: auto;
  clear: both;
}
.navBar {
  /*border: 1px orange dotted;*/
  overflow: hidden;
  background-color: #333;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 0px #333 solid;
  /*box-shadow: 1px 1px 1px 1px #999;*/
}
.navBar img {
  z-index: -2;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  opacity: 0.9;
  filter: alpha(opacity=20); /* For IE8 and earlier */
  object-fit: cover;
}

.navigation {
  flex-flow: column;
  text-align: right;
  float: right;
  margin: 0px 10px -2px 0px;
}
.navigation li {
  display: inline-block;
}
.navigation li a {
  /*border: 1px yellow dotted;*/
  float: left;
  display: block;
  color: #ccc;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
  /*font-weight: bold;*/
}
.navigation li a:hover {
  background: #fff;
  color: #000;
  opacity: .6;
}
.navLogo {
  /*border: 1px blue dotted;*/
  position: fixed;
  float: left;
  width: 500px;
  font-size: 50pt;
  font-weight: bold;
  font-style: italic;
  font-family: 'Changa', sans-serif;
  color: #eee;
  margin: -36px -10px -10px 120px;
  z-index: -1;
  opacity: .5;
}
.pageTitle {
  /*border: 1px red dotted;*/
  float: left;
  width: 200px;
  font-size: 18pt;
  font-weight: bold;
  font-style: italic;
  color: white;
  margin: 10px 0px 0px 10px;
}
.editPanelRight {
  border-left: 1px #ccc dotted;
  padding: 0pt 0pt 0pt 10pt;
}
.errMsg {
  padding: 10pt 0pt 0pt 0pt;
  text-align: left;
  color: red;
}
.postMessage {
  width: 95%;
  background-color: #fff;
  border-top: 1px #eee solid;
  /*border-radius: 5px;*/
  margin: 5px 5px 5px 0px;
  padding: 0px 15px 0px 15px;
  text-align: left;
  v-align: top;
  float: left;
  /*box-shadow: 1px 1px 1px 1px #ddd;*/
}
.postMessage h4 {
  margin: 5px 5px 5px 5px;
  padding: 0px 0px 0px 0px;
}
.imgButton {
  margin: 2px 2px 2px 2px;
  border: 1px #eee solid;
  border-radius: 5px;
  padding: 5px;
}
.imgButton:hover {
  margin: 2px 2px 2px 2px;
  padding: 5px;
  border: 1px #999 solid;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
  background-image: linear-gradient(#fff, #eee, #ddd);
}
.smallGray {
  color: #999;
  font-size: 80%;
}
